.body {
    background-color: #2B303A;
}

.row {
    margin: 0;
}

/*********************************SPA*********************************/

.page {
    display: none;
}

.display {
    display: block;
}

.pizzaListPage{
    display:none;
}
/********************************* HEADER BAR *********************************/

.navbar {
    background-color: orangered;
}

/********************************* NAV MENU *********************************/

#menuList {
    list-style-type: none!important;
    /* text-align: ; */
    border-right: 1px solid black;
    background-color: #2B303A;
    text-align: center;
    height: 100vh;
}

#menu {
    padding: 0;
}

.active {
    background-color: rgba(235, 235, 235, 0.144)!important;
    /* playing around with colors*/
    border-color: black !important;
    color: white!important;
}

.list-group-item {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;     
}
.list-group-item:hover {
    background-color: rgba(235, 235, 235, 0.144)!important;
    border-color: black !important;
    color: white!important;
}

#homeContainer {
    background-image: url(/./img/pizza5.jpeg); /* https://stock.adobe.com/images/original-neapolitan-pizza-margherita-in-a-traditional-wood-oven-in-naples-restaurant-italy/205447060  */
    background-size: cover;
    background-color: #cccccc;
    color: white;
    height: 100vh;
}

.list-group-item {
    background-color: #2B303A;
    color: white;
}

/********************************* MODAL *********************************/

.signInBtn {
    border-radius: 30px;
    border: solid white 1px;
} 

.modal {
    background-color: rgba(255, 255, 255, 0.404);
    display: none;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    perspective: 500px;
    color: white!important;
}

.modal .modal-wrapper {
    width: 50%;
    max-width: 500px;
    top: 15%;
    background-color: orangered;
    position: absolute;
    text-align: left;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.4);
    animation-name: modalopen;
    animation-duration: .8s;
    transform: rotateX(0deg);
}

.modal-header, .modal-body, .modal-footer {
    padding: 10px;
}

.modal-body {
    background: #2B303A;
}

@keyframes modalopen {
    from {
        opacity: 0;
        top: 5%;
        transform: rotateX(15deg);
    }
    to {
        opacity: 1;
        top: 15%;
        transform: rotateX(0deg);
    }
}

.btn-primary {
    border-radius: 30px;
    border: solid white 1px;
    color: white;
    padding: 0px 5px 5px 0x;
    background-color: #2B303A;
}


/********************************* Sign Up Page*********************************/

#signUpForm {
    margin-top: 5rem;
    margin-bottom: 3rem;
}

#signUpContainer>h1 {
    text-align: center;
    margin-top: 2rem;
}

#signUpContainer {
    background-color: #8D909B;
}



/********************************* admin page*********************************/

#adminPizzaContainer {
    background-color: #F7F0F0;
}


.table td, table tr {
    text-align: center;   
 }

#text{
    text-align: center;
    margin:2rem 0 2rem 0;
}




/*********************************profile page ********************************/

/* #profileForm{
    text-align: left;
}
#userProfileContainer{
    
    display:flex; */
    /* flex-direction: column; */
    /* justify-content: space-evenly; */

/* }
#changePasswordBtn{
    float:right;
    margin-right:13rem;
    margin-top:2rem;
} */

@media (max-width: 576px) { /* need this for nav menu on mobile  */
    #menuList {
        height: 100%;
    }
}


@media (max-width: 768px) { /* need this for nav menu on mobile messing around with this...  */
    #menuList {
        height: 100%;
    }
}
