body{
    margin: 1rem;
    /* padding: 1rem; */
}
/* MENU STYLE */
#menu{
    height:100vh;
    border-right: 1px solid black;
}
#menuList{
    list-style-type: none!important;
    /* text-align: ; */
}
#menuItem{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey
}
/* DASHBOARD STYLE */
