body{
    margin: 1rem;
    /* padding: 1rem; */
}
/* MENU STYLE */
#menuList{
    list-style-type: none!important;
    /* text-align: ; */
    
}
#menuItem{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey
}
/* DASHBOARD STYLE */
